body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    
    
}
.nav-bar
{
   
    background-color: whitesmoke;
    width: 100%;
   
   
}

.nav-bar-nav
{
   
}

.nav-list
{
  
  display: flex;
  flex-wrap: wrap;
margin: 0%;
list-style-type: none;
padding: 0%;
max-width: 100%;


}
.nav-list li
{


 max-width: 100%;
 margin-left: 1rem;
 padding-top: 1rem;
 padding-bottom: 1rem;
 padding-left: 7px;
 padding-right: 7px;

}
.nav-list li:nth-of-type(1)
{
background-color: rgb(212, 212, 204);
cursor: pointer;

}
.nav-list li:nth-of-type(1) a
{
color: black;

}
.nav-list li a
{
    color:grey;
    font-weight: 500;
}

.nav-list li:nth-of-type(3)
{
    flex-grow: 1;
    
    
}
.nav-list li:nth-of-type(3) a
{
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 7px;
    padding-right: 7px;
   }

.nav-list li:nth-of-type(5)
{
    margin-right: 4rem;
    
}

.nav-list li:nth-of-type(1)
{
    margin-left: 5rem;
}
.body-part
{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}
.body-heading
{
    border-bottom:3px solid rgb(212, 212, 204);
}
.body-heading h2
{
    padding-top: 0.5rem;
}
.sub-head
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}
.sub-l1
{
    list-style-type: none;
    margin:0%;
    padding:0%;
    display: flex;
    flex-direction: column;
   
    
}
.sub-list
{
    flex-grow: 1;

}
.sub-l2
{
    margin-top: 0.3em;

}
.sub-l2 input
{
    height: 70%;
    max-width: 100%;
    border: 2px solid rgb(212, 212, 204);
    border-radius: 0.3rem;
    font-size: 20px;
}
.sub-l1 li:nth-of-type(1)
{
    margin-bottom: 0.5em;
}
.task-list
{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding:0%;
    display: flex;
    flex-direction: column;
}
.task-list li
{
    width: 100%;
    height: 50px;
    background-color: skyblue;
    margin:3px;
   
}
@media screen and (max-width:535px){

    .body
    {
        margin-left: 5%;
       
    }
    .nav-list
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav-list li:nth-of-type(1)
    {
        margin-left: 0%;
        padding-left: 1em;
        
    }
    .nav-list li:nth-of-type(3) a
    {
        margin-left: 0%;
        padding-left: 0%;
    }
 

}
