body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    
    
}
.meetings-body,.results
{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}
.heading
{
    border-bottom:3px solid rgb(212, 212, 204);
}
.nav-bar
{
   
    background-color: whitesmoke;
    width: 100%;
   
   
}



.nav-list
{
  
  display: flex;
  flex-wrap: wrap;
margin: 0%;
list-style-type: none;
padding: 0%;
max-width: 100%;


}
.nav-list li
{


 max-width: 100%;
 margin-left: 1rem;
 padding-top: 1rem;
 padding-bottom: 1rem;
 padding-left: 7px;
 padding-right: 7px;

}
.nav-list li:nth-of-type(2)
{
background-color: rgb(212, 212, 204);
cursor: pointer;

}
.nav-list li:nth-of-type(2) a
{
color: black;

}
.nav-list li a
{
    color:grey;
    font-weight: 500;
}

.nav-list li:nth-of-type(3)
{
    flex-grow: 1;
    
    
}
.nav-list li:nth-of-type(3) a
{
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 7px;
    padding-right: 7px;
   }

.nav-list li:nth-of-type(5)
{
    margin-right: 4rem;
    
}

.nav-list li:nth-of-type(1)
{
    margin-left: 5rem;
}

.search-add-toggle
{
    display: flex;
    margin-top: 1em;
}
.search-add-toggle a
{
    padding: 0.5em;
    color: blue;
    
}

.search-add-toggle a:nth-of-type(2)
{
    max-width: 350px;

    border-top:2px solid rgb(212, 212, 204) ;
    border-left:2px solid rgb(212, 212, 204) ;
    border-right:2px solid rgb(212, 212, 204) ;
    color: black;
}
.search-add-toggle a:nth-of-type(1)
{
    border: none;
    border-bottom:2px solid rgb(212, 212, 204) ;
    
}

.search-add-body
{
    background-color: skyblue;
    max-width: 100%;
    margin-top: 0.5em;
    padding:1em;
    border-radius: 0.3em;
  
}
.search-add-body h2
{
    color: white;
    margin-top: 6px;
    padding-bottom: 0.4em;
    border-bottom:2px solid gray;
}
.dummy-div
{
    flex-grow: 1;
    border-bottom:2px solid rgb(212, 212, 204) ;

}
.main-part
{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}
.form-body
{
    margin-top: 1em;
    background-color: skyblue;
    max-width: 100%;
    padding:1em;
    padding-top: 0.3em;
    border-radius: 0.3em;
}
.meetings-bottomhead h2
{
    margin: 0%;
    padding-top: 0.4rem;
    color: white;
    padding-bottom: 0.5rem;
    border-bottom:2px solid gray;

}
.add-date
{
    margin-top: 0.7em;
    margin-bottom: 0.8em;
    display: flex;
    flex-direction: column;
}
.add-date label
{

    margin-bottom: 0.4em;
}
.add-date input
{
    border: none;
    height: 35px;
    border-radius: 0.3em;
    padding-left: 0.5em;
    font-size: 20px;
}
.start-time
{
    margin-top: 0.4em;
    margin-bottom: 0.8em;
    display: flex;
    flex-direction: column;
}
.start-time label
{

    margin-bottom: 0.4em;
}
.start-time input
{
    border: none;
    height: 35px;
    border-radius: 0.3em;
    padding-left: 0.5em;
    font-size: 20px;
}

.start-time,.end-time
{
    
    margin-top: 0.4em;
    margin-bottom: 0.8em;
    display: flex;
    flex-direction: column;
}
.start-time label,.end-time label
{

    margin-bottom: 0.4em;
}
.start-time input, .end-time input
{
    border: none;
    height: 35px;
    border-radius: 0.3em;
    padding-left: 0.5em;
    font-size: 20px;
   
    max-width: 30%;
}

.desc,.email-ids
{
    
    margin-top: 0.4em;
    margin-bottom: 0.8em;
    display: flex;
    flex-direction: column;
}
.desc label,.email-ids label
{

    margin-bottom: 0.4em;
}
.desc input,.email-ids input
{
    border: none;
    height: 35px;
    border-radius: 0.3em;
    padding-left: 0.5em;
    height: 60px;
    font-size: 20px;
}
.email-ids input
{
    height: 40px;
}
.email-ids p
{
    margin-top: 0.5em;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

#add-btn-btn
{
    height: 35px;
    border-radius: 0.3em;
    border: none;
    background-color: rgb(46, 160, 206);
    color: white;
    font-weight: 600;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 15px;
}
#add-btn-btn:hover
{
    background-color: rgb(27, 101, 131);
    cursor: pointer;

}

@media screen and (max-width:535px){

    .body
    {
        margin-left: 5%;
       
    }
    .nav-list
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav-list li:nth-of-type(1)
    {
        margin-left: 0%;
        padding-left: 1em;
        
    }
    .nav-list li:nth-of-type(3) a
    {
        margin-left: 0%;
        padding-left: 0%;
    }
    ::placeholder
    {
        font-size: 15px;
       
    }
    .start-time input, .end-time input
    {
        max-width: 100%;
    }

}