body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    
    
}
.meetings-body,.results
{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}
.heading
{
    border-bottom:3px solid rgb(212, 212, 204);
}
.nav-bar
{
   
    background-color: whitesmoke;
    width: 100%;
   
   
}



.nav-list
{
  
  display: flex;
  flex-wrap: wrap;
margin: 0%;
list-style-type: none;
padding: 0%;
max-width: 100%;


}
.nav-list li
{


 max-width: 100%;
 margin-left: 1rem;
 padding-top: 1rem;
 padding-bottom: 1rem;
 padding-left: 7px;
 padding-right: 7px;

}
.nav-list li:nth-of-type(2)
{
background-color: rgb(212, 212, 204);
cursor: pointer;

}
.nav-list li:nth-of-type(2) a
{
color: black;

}
.nav-list li a
{
    color:grey;
    font-weight: 500;
}

.nav-list li:nth-of-type(3)
{
    flex-grow: 1;
    
    
}
.nav-list li:nth-of-type(3) a
{
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 7px;
    padding-right: 7px;
   }

.nav-list li:nth-of-type(5)
{
    margin-right: 4rem;
    
}

.nav-list li:nth-of-type(1)
{
    margin-left: 5rem;
}

.search-add-toggle
{
    display: flex;
    margin-top: 1em;
}
.search-add-toggle a:nth-of-type(1)
{
    max-width: 350px;

    border-top:2px solid rgb(212, 212, 204) ;
    border-left:2px solid rgb(212, 212, 204) ;
    border-right:2px solid rgb(212, 212, 204) ;
    color: black;
}
.search-add-toggle a:nth-of-type(2)
{
    flex-grow: 1;
    border-bottom:2px solid rgb(212, 212, 204) ;
    
}

.search-add-toggle a
{
    padding: 0.5em;
    color: blue;
    
}
.search-add-body
{
    background-color: skyblue;
    max-width: 100%;
    margin-top: 0.5em;
    padding:1em;
    border-radius: 0.3em;
  
}
.search-add-body h2
{
    color: white;
    margin-top: 6px;
    padding-bottom: 0.4em;
    border-bottom:2px solid gray;
}
.search-form
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.date-div
{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.date-div select
{
    height: 40px;
    border-radius: 0.3em;
    background-color: white;
    padding-left: 1em;
    font-size: 15px;
}
.search-div
{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 1em;
}
.search-div input{
   height: 60px;
   border: none;
    border-radius: 0.3em;
    font-size: 20px;
    padding-left: 10px;
}
.search-div label, .date-div label,.search-div select,.date-div input
{
    margin-bottom: 0.4em;
}
::placeholder
{
    padding: 0.4em;
    font-size: 20px;
   
}
option
{
    background-color:rgb(176, 228, 248);
}
#srch-btn
{
    min-width: 7%;
    min-height: 35px;
    background-color: rgb(46, 160, 206);
    border-radius: 0.3em;
    border:none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 0.8em;
}
#srch-btn:hover
{
    background-color: rgb(27, 101, 131);
    cursor: pointer;
}

.search-bottomhead
{
    border-bottom:2px solid rgb(212, 212, 204);
}
.results
{
    max-width: 100%;
    margin-top: 2em;
}
.meet-details
{
    max-width: 100%;
    border: 2px solid rgb(212, 212, 204);
    margin-top: 0.5em;
    padding: 1em;
}
.meet-details h3
{
    margin: 0%;
}
.meeting-date-time
{
    display: flex;
}
.meeting-time
{
    margin-left:0.3em;
    font-weight: 500;
    font-size: 18px;

}
.meeting-title,.excuse-btn
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.excuse-btn
{
    padding-bottom: 0.8em;
    border-bottom: 2px solid rgb(212, 212, 204);

}
.exc-btn
{
    min-width: 7%;
    min-height: 35px;
    background-color: crimson;
    border-radius: 0.3em;
    border:none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 0%;
   
}
.exc-btn:hover
{
    background-color: red;
    cursor: pointer;
}
.add-member
{
    display: flex;
    margin-top: 0.3em;
    max-width: 100%;
}

.m-dropdown
{
    min-width: 152px;
    height: 30px;
    border:1px solid gray;
    background-color: white;
    border-radius: 0.3em;
    font-weight: 700;
    padding-left: 5px;
}
.add-btn
{
    margin-left: 0.2em;
}
#add-btn-btn
{
    height: 100%;
    color: white;
    background-color: rgb(46, 160, 206);
    border-radius: 0.3em;
    font-weight: 700;
    border: none;

}
#add-btn-btn:hover
{
    background-color: rgb(27, 101, 131);
    cursor: pointer;

}
@media screen and (max-width:535px){

    .body
    {
        margin-left: 5%;
       
    }
    .nav-list
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav-list li:nth-of-type(1)
    {
        margin-left: 0%;
        padding-left: 1em;
        
    }
    .nav-list li:nth-of-type(2)
    {
        margin-left: 0%;
        padding-left: 1em;
        
    }
    .nav-list li:nth-of-type(3) a
    {
        margin-left: 0%;
        padding-left: 0%;
    }
    ::placeholder
    {
        font-size: 10px;
       
    }

}