body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    margin-bottom: 2em;
    
}
.meetings-body,.results
{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}
.heading
{
    border-bottom:3px solid rgb(212, 212, 204);
}
.nav-bar
{
   
    background-color: whitesmoke;
    width: 100%;
   
   
}



.nav-list
{
  
  display: flex;
  flex-wrap: wrap;
margin: 0%;
list-style-type: none;
padding: 0%;
max-width: 100%;


}
.nav-list li
{


 max-width: 100%;
 margin-left: 1rem;
 padding-top: 1rem;
 padding-bottom: 1rem;
 padding-left: 7px;
 padding-right: 7px;

}
.nav-list li:nth-of-type(3) a
{
background-color: rgb(212, 212, 204);
cursor: pointer;

}
.nav-list li:nth-of-type(3) a
{
color: black;

}
.nav-list li a
{
    color:grey;
    font-weight: 500;
}

.nav-list li:nth-of-type(3)
{
    flex-grow: 1;
    
    
}
.nav-list li:nth-of-type(3) a
{
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 7px;
    padding-right: 7px;
   }

.nav-list li:nth-of-type(5)
{
    margin-right: 4rem;
    
}

.nav-list li:nth-of-type(1)
{
    margin-left: 5rem;
}
.body
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.sub-title p
{
    margin-top: 0%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 2px solid rgb(212, 212, 204);
    color: grey;
    font-weight: 600;
}

.my-teams
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.team
{
    padding: 1em;
    width: 28%;
    margin-right: 1em;
    flex-grow: 1;
    margin-top: 1em;
border: 1px solid rgb(212, 212, 204);
border-radius: 0.4em;
}
.add
{
    padding: 50%;
    margin-right: 0%;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
.team h3
{
    margin-top: 0%;
}
.members
{
    padding-top: 1em;
}
.excuse-btn
{
    padding-bottom: 0.8em;
    border-bottom: 2px solid rgb(212, 212, 204);

}
.exc-btn
{
    min-width: 7%;
    min-height: 35px;
    background-color: crimson;
    border-radius: 0.3em;
    border:none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 0%;
   
}
.exc-btn:hover
{
    background-color: red;
    cursor: pointer;
}
.add-member
{
    display: flex;
    margin-top: 0.3em;
    max-width: 100%;
}
.member-dropdown
{
   
    width: 135px;
}
.m-dropdown
{
 
    max-width: 100%;
    height: 30px;
    border:1px solid gray;
    background-color: white;
    border-radius: 0.3em;
    font-weight: 700;
    padding-left: 5px;
    margin-right: 0.2em;
}
.add-btn
{
    margin-left: 0.2em;
}
#add-btn-btn
{
    height: 100%;
    color: white;
    background-color: rgb(46, 160, 206);
    border-radius: 0.3em;
    font-weight: 700;
    border: none;

}
#add-btn-btn:hover
{
    background-color: rgb(27, 101, 131);
    cursor: pointer;

}

@media screen and (max-width:535px){
    .body
    {
        margin-left: 5%;
       
    }
    .my-teams
    {
        flex-direction: column;
        width: 90%;
    }
    .team
    {
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
        padding: 1em;
    }
    .nav-list
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav-list li:nth-of-type(1)
    {
        margin-left: 0%;
        padding-left: 1em;
        
    }
    .nav-list li:nth-of-type(2)
    {
        margin-left: 0%;
        padding-left: 1em;
        
    }
    .nav-list li:nth-of-type(3)
    {
        margin-left: 0%;
        background-color: rgb(212, 212, 204);
cursor: pointer;


        
    }
    
    .nav-list li:nth-of-type(3) a
    {
        margin-left: 0%;
        padding-left: 0.8em;
    }
    
}